<div class="header">
	<nav class="row middle-xs between-xs">
		<ul>
			<li>
				<img src="project/images/favicon.png"/>
			</li>
			<li>
				<h1>Все UI-виджеты</h1>
			</li>
		</ul>
		<ul>
			<li><a href="#">Native</a></li>
			<li><a href="#">jQuery</a></li>
			<li><a href="#">React</a></li>
			<li><a href="#">Angular</a></li>
		</ul>
	</nav>
</div>
<div class="body row center-md">
	<div class="col-md-10">
		<div class="row start-md">
			<div class="col">
				<h4>Сложные виджеты</h4>
				<ul>
					<li>
						<a href="#">DataTable</a>
					</li>
					<li>
						<a href="#">TreeTable</a>
					</li>
					<li>
						<a href="#">Kanban</a>
					</li>
					<li>
						<a href="#">Pivot</a>
					</li>
					<li>
						<a href="#">Scheduler</a>
					</li>
					<li>
						<a href="#">File Manager</a>
					</li>
					<li>
						<a href="#">SpreadSheet</a>
					</li>
				</ul>
			</div>

			<div class="col">
				<h4>Графические данные</h4>
				<ul>
					<li>
						<a href="#">Charts</a>
					</li>
					<li>
						<a href="#">BarCode</a>
					</li>
					<li>
						<a href="#">Organogram</a>
					</li>
					<li>
						<a href="#">TreeMap</a>
					</li>
					<li>
						<a href="#">Maps</a>
					</li>
					<li>
						<a href="#">Gage</a>
					</li>
				</ul>
			</div>

			<div class="col">
				<h4>Layout компоненты</h4>
				<ul>
					<li>
						<a href="#">Layout</a>
					</li>
					<li>
						<a href="#">Accordion</a>
					</li>
					<li>
						<a href="#">MultiView</a>
					</li>
					<li>
						<a href="#">ScrollView</a>
					</li>
					<li>
						<a href="#">Carousel</a>
					</li>
					<li>
						<a href="#">Portlet</a>
					</li>
				</ul>
			</div>

			<div class="col">
				<h4>Data Виджеты</h4>
				<ul>
					<li>
						<a href="#">Tree</a>
					</li>
					<li>
						<a href="#">DataView</a>
					</li>
					<li>
						<a href="#">List</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row start-md">
			<div class="col">
				<h4>Редактирование данных</h4>
				<ul>
					<li>
						<a href="#">Form</a>
					</li>
					<li>
						<a href="#">Calendar</a>
					</li>
					<li>
						<a href="#">Combo</a>
					</li>
					<li>
						<a href="#">Colorpicker</a>
					</li>
					<li>
						<a href="#">Uploader</a>
					</li>
					<li>
						<a href="#">Slider</a>
					</li>
				</ul>
			</div>
			<div class="col">
				<h4>Навигация</h4>
				<ul>
					<li>
						<a href="#">Menu</a>
					</li>
					<li>
						<a href="#">Toolbar</a>
					</li>
					<li>
						<a href="#">ContextMenu</a>
					</li>
					<li>
						<a href="#">Sidebar</a>
					</li>
				</ul>
			</div>
			<div class="col">
				<h4>Windows &amp; Popups</h4>
				<ul>
					<li>
						<a href="#">Window</a>
					</li>
					<li>
						<a href="#">Popup</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>