<div class="header">
	<nav class="row middle-xs between-xs">
		<ul>
			<li>
				<img src="project/images/favicon.png"/>
			</li>
			<li>
				<h1>Все UI-виджеты</h1>
			</li>
		</ul>
		<ul>
			<li><a href="#">Js</a></li>
			<li><a href="#">jQuery.js</a></li>
			<li><a href="#">Vue.js</a></li>
			<li><a href="#">React.js</a></li>
			<li><a href="#">Angular.js</a></li>
			<li><a href="#">CSS</a></li>
		</ul>
	</nav>
</div>