.home {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	.alert {
		transition: 0.5s;
		margin: 15px;
		padding: 20px;
		border: 1px solid #d6e9c6;
		border-radius: 4px;
		color: #3c763d;
		background-color: #dff0d8;
		p {
			font-size: 16px;
			padding: 0px;
			margin: 0px;
		}
	}
}